html, body {
    height: 100%; /* Hacemos que html y body ocupen toda la altura de la ventana */
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:first-child {
    margin-left: 20px; /* Establecemos un margen solo para el primer botón */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    transition: transform 0.3s, box-shadow 0.3s; /* Agregamos una transición para el efecto */
}

nav ul li a:hover {
    transform: scale(1.50); /* Aumentamos el tamaño al pasar el cursor por encima */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agregamos una sombra al pasar el cursor por encima */
}

nav ul li a.activo {
    background-color: #fff;
    color: #333;
}

section {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

section p {
    margin-top: 10px;
}


.contenedor-mitades {
    display: flex;
}

.mitad-izquierda,
.mitad-derecha {
    flex: 1;
    height: 100vh;
}

.mitad-izquierda {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mitad-derecha {
    text-align: left;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    padding: 20px;
}


#contenedorImagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cambiarImagen {
    max-width: 100%;
    height: 100%; /* Establecemos la altura al 100% para que ocupe todo el espacio vertical disponible */
    width: auto; /* Mantenemos el ancho automático para mantener la relación de aspecto */
    object-fit: contain; /* Mantenemos la relación de aspecto y ajustamos la imagen al contenedor */
}

#textoDerecha {
    flex: 1;
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}
