@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html, body {
    height: 90%;
    margin: 0;
    padding: 0;
}


header {
    background-color: #3a3f3f;
    padding: 10px 0;
    position: relative; /* Agregamos esta propiedad para gestionar z-index */
    z-index: 1; /* Establecemos un valor superior para que esté encima del contenido */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:first-child {
    margin-left: 20px; /* Establecemos un margen solo para el primer botón */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    transition: transform 0.3s, box-shadow 0.3s; /* Agregamos una transición para el efecto */
}

nav ul li a:hover {
    transform: scale(1.50); /* Aumentamos el tamaño al pasar el cursor por encima */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Agregamos una sombra al pasar el cursor por encima */
}

nav ul li a.activo {
    background-color: #fff;
    color: #333;
}

section p {
    margin-top: 10px;
}


section {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    position: relative; /* Agregamos esta propiedad para gestionar z-index */
    z-index: 0; /* Establecemos un valor inferior para que esté debajo del encabezado */    
}

.mitad-izquierda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .8;
    height: 99vh;
    position: relative;
    overflow: hidden;
}

.mitad-derecha {
    text-align: left;
    padding: 20px;
    flex: 1;
}

#titulo {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

#texto {
    font-size: 12px;
    font-family: 'Athiti', sans-serif;
}